{% extends 'catalog/base.html' %}
{% load my_tags %}
<div class="container">
    {% block content %}
    <div class="row text-center">
        {% for object in product_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <img src="{{ object.photo | media_filter }}">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name.title }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$ 140</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- Неограниченная лицензия</li>
                        <li>- Поддержка</li>
                        <li>- Установка на сервер</li>
                        <li>- Получение обновлений</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
