{% extends 'catalog/base.html' %}
{% load my_tags %}
<div class="container">
    {% block content %}
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <img src="{{ object.image | media_filter }}">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name.title }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$ {{ object.price }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3"></ul>
                    <a class="btn btn-primary" href="{% url 'catalog:product_detail' object.pk%}" role="button">Посмотреть</a>
                    <a class="btn btn-primary" href="{% url 'catalog:product_update' object.pk%}" role="button">Редактировать</a>
                    <a class="btn btn-primary" href="{% url 'catalog:product_delete' object.pk%}" role="button">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
